.section-one{
  background-color: #800000;
  color:white;
  padding: 75px;
    h1 {
      padding: 10px 0 10px;
      margin-top: 10px;
    }
  }
.section-two{
  background-color: #47B247;
  color:white;
  padding: 55px;
  }
.section-two h1 {
  padding: 10px 0 10px; 
  }
.section-three{
  background-color: #2E495A;
  color:white;
  padding: 55px;
  }
.section-three h1 {
  padding: 10px 0 10px; 
  }
.section-four{
  background-color: #FF6600;
  color:white;
  padding: 55px;
  }